<div id="pin">

  <p class="gap">
    ◄&nbsp;&nbsp;
    <%= link_to @board do %>
      Back to the "<%= @board.title %>" board
    <% end %>
  </p>

  <div class="row gap">
    <div class="col-md-6 col-md-offset-3">
      <h2>
        <%= link_to @pin.title, @pin.link, target: '_blank' %>
      </h2>
      <p><em><%= link_to @pin.link, @pin.link, target: '_blank' %></em></p>

      <% if @pin.description.present? %>
        <p class="sm-gap">
          <%= @pin.description %>
        </p>
      <% end %>

      <p>
        <em>
          <small>
            Pinned <span title="<%= @pin.created_at %>"><%= time_ago_in_words @pin.created_at %> ago</span>
            on <%= link_to @user.full_name, @user %>'s' "<%= link_to @board.title, @board %>"
          </small>
        </em>
      </p>

      <% if @pin.can_be_edited_by? current_user %>
        <hr>
        <%= link_to 'Edit this pin', edit_pin_path(@pin) %>
      <% end %>
    </div>
  </div>


</div>
