<h2 class="text-center gap">
  <%= @user.full_name %>
</h2>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs gap" role="tablist">
    <li role="presentation" class="active"><a href="#boards" aria-controls="boards" role="tab" data-toggle="tab">Boards</a></li>
    <li role="presentation"><a href="#pins" aria-controls="pins" role="tab" data-toggle="tab">All pins</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane gap active" id="boards">
      <% if @user == current_user %>
        <div class="clean well title-font">
          <%= link_to new_board_path do %>
            <i class="fa fa-plus" aria-hidden="true"></i>
            <em>Create a new board</em>
          <% end %>
        </div>
      <% end %>
      <% if @boards.empty? && current_user != @user %>
        <p class="text-center">- No boards yet -</p>
      <% else %>
        <% @boards.each do |board| %>
          <%= render board %>
        <% end %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane gap" id="pins">
      <div class="gap pins-layout">
        <% if @pins.empty? %>
          <p class="text-center">- No pins yet -</p>
        <% else %>
          <div class="row">
            <% @pins.each_with_index do |pin, i| %>
              <div class="pin-wrapper col-lg-3 col-md-4 col-sm-6">
                <%= render pin %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>

<% if current_user.admin? %>
  <%= link_to 'Edit user', edit_user_path(@user) %>
<% end %>
