<p class="gap">
  <strong>Title:</strong>
  <%= @board.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @user.full_name, @user %>
</p>

<p>
  <strong>Pins:</strong>
  <ul>
    <% @pins.each do |pin| %>
      <li>
        <%= link_to pin.title, pin %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
